{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "todo/todo.css" %}">
        <title>Document</title>
    </head>
    <body>
        <h1>Add Item</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="grid">{{ form.as_p }}</div>
            <button type="submit">Add Item</button>
            <button type="reset">Reset</button>
        </form>
        <script src="{% static "todo/todo.js" %}"></script>
    </body>
</html>
